.App {
    text-align: center;
}

.Section {
    padding: 2.2em;
    color: black;
}

.black {
    background-color: #090909;
    color: white;
}

.dark_grey {
    background-color: #222;
    color: #d1d1d1;
}

.Title {
    font-size: 5em;
    color: white;
}

.Title-Subtext {
    font-size: 1.3em;
}

.github_logo {
    color: black;
}

.logo {
    padding: .05em;
    vertical-align: middle;
    height: 1em;
    font-size: 4em;
}

.list > a {
    display: inline;
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
}
