.App {
    text-align: center;
}

.Section {
    padding: 2.2em;
    color: black;
}

.black {
    background-color: #090909;
    color: white;
}

.dark_grey {
    background-color: #222;
    color: #d1d1d1;
}

.Title {
    font-size: calc(1.5em + 10vw);
    max-height: 2em;
    color: white;
}

.Title-Subtext {
    font-size: 1.3em;
}

.github_logo {
    color: black;
}

.logo {
    padding: .05em;
    vertical-align: middle;
    height: 1em;
    font-size: 4em;
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}
.list > a {
    font-size: 2em;
    padding-left: 4%;
    padding-right: 4%;
    color: white;
}
